body {
    font-family: Arial, sans-serif;
    margin: 5% 18%;
    background-color: 	#F4F7FE;
}
.background{
    border: solid 10px black;
    border-radius: 16px;
    background-color: 	#4F46E5;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 20px;
    padding: 80px 20px 50px;
}
.device {
    background: rgb(242, 239, 242);
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
h3 {
    margin: 0;
    font-size: 30px;
}
i{  
    font-size: 30px;
}
p {
    margin: 5px 0;
    font-size: 20px;
}
.back:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.back{
    left: 21%;  
    position: absolute;
    top: 15%;
    height: 50px;
}
.card{
    text-decoration: none; /* bỏ gạch chân */
    color: white;         /* giữ màu gốc */
  }
  

